*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
h1, h2{
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    border-bottom: 1px solid gray;
    padding-bottom: 12px;
}

.logo{
    height: 100px;
    width: 180px;
    padding: 0 20px ;
}
.title{
    text-align: center;
    padding: 20px;
}
.title .subtitle{
    margin: auto;
}
.thingstodo{
    height: 60vh;
    width: 70vw;
    background-color: pink;
    border: 2px solid black;
    overflow: auto;
    margin: auto;
}
.thingstodo h3{
    padding: 2%;
}
.thingstodo .image-1  {
    margin-top: 2%;
    color: black;
    font-size: 14px;
    padding: 0 5%;
}
.thingstodo .image-1 img{
    height: 10%;
    width: 30%;
    margin: 0 8% 0 5%;
    float: left;
    border: 2px solid black;
}
.cathedral{
    float: left;
    margin: 7vh 0 0 -24vw;
    font-size: 12px;
}

.image-2 img{
    height: 20%;
    width: 30%;
    float: right;
    border: 2px solid black;
    margin: -9% 0 0 0;
}

.guinness1{
    padding: 10% 10% 0 10%;
    font-size: 14px;
}
.beer{
    float: right;
    margin: 0vh 9vw 0 0;
    font-size: 12px;
}
section {
    overflow: hidden;
    border-left: 1px solid black;
    margin: auto;
    width: 90%;
}
.events{
    padding: 20px;
}
.events ul{
    padding: 20px 0 0 70px;
}
.events li{
    padding: 3px;
}
.news{
    border-top: 1px solid rgb(163, 163, 163);
    padding: 20px;
}
.news h1{
    padding: 10px 0 10px 0;
}
.news ul{
    list-style: none;
    padding: 10px;
}
.news ul h4{
    font-style: italic;
}
.news ul li p{
    padding: 0 0 0 50px;
}
.cost{
    border-top: 1px solid rgb(163, 163, 163);
    padding: 20px;
}
table{
    text-align: left;
    border: 1px solid black;
    padding: .5%;
    margin: 20px 0 0 0;
    box-shadow: -3px -3px 7px #ffffff73, 3px 3px 5px rgba(94, 104, 121, 0.288);
}
.price{
    background-color: rgb(155, 229, 155);
}
.totalCost{
    background-color: rgb(155, 229, 155);
}


/* St Patrick's Cathedral */
.stPatTitle1{
    background-image: url(/images/photos/kalisa-veer-YbB8BH2ogZ0-unsplash.jpg);
    background-size: 50vw;
    height: 30vh;
}
.stPatTitle{
    text-align: center;
    padding: 2%;
}
.stPatInfo{
    padding: 5%;
    display: flex;
    justify-content: center;
    border-top: 2px solid rgb(163, 163, 163);
}

.content1 img{
    height: auto;
    width: 33vw;
}
.stPatInfo .content1{
    border: 2px solid rgb(3, 63, 3);
    margin: 0 1% 0 0;
    padding: 0 0 -1% 0;
}
.text{
    padding: 15px 20px 15px 20px;
    font-size: 90%;
}
.stPatText{
    border-top: 2px solid rgb(163, 163, 163);
    padding: 2%;
}

/* /End of St Patricks */

/* Guinness */
.guinTitle{
    text-align: center;
    padding: 2%;
}
.guinInfo{
    height: auto;
    padding: 5%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    border-top: 1px solid rgb(180, 180, 180);
}

.content1 img{
    height: 40vh;
    width: 33vw;
}
.guinInfo .content1{
    border: 2px solid rgb(63, 42, 3);
}
.text{
    padding: 15px 20px 15px 20px;
    font-size: 90%;
    width: 15rem;
 
}
.guinText{
    border-top: 1px solid rgb(163, 163, 163);
    padding: 2%;
}
/* End of Guinness */

/* Contact Form */
.contact{
    padding: 10vh 10vh 10vh 0;
}
.contact ul{
    padding: 2% 0 0 2%;
}
.contact ul li {
    list-style: none;
}
.contact ul li img{
height: 40px;
width: 40px;
margin: 8px 8px;
border-radius: 36%;
cursor:pointer;
box-shadow: -3px -3px 7px #ffffff73, 3px 3px 5px rgba(94, 104, 121, 0.288);

}

/* Footer */
.footer{
    display: flex;
    width: 100%;
    align-items: center;
    flex-wrap: wrap;
    padding: 5px 0;
    margin: 20px;
    border-top: 1px solid rgb(173, 173, 173);

}
footer a {
    text-decoration: none;
    color: black;
    transition: all 0.5s ease;
}
footer ul{
    flex: 1;
}
footer ul li{
    display: inline;
    list-style: none;
    padding: 1%;
    margin: auto;
}

footer ul li a:hover{
    content: '';
    border-bottom: 2px solid black;
    padding-bottom: 10px;
    width: 90%;
    height: 2px;
    }

footer p{
    text-align: center;
}

/* End of Footer */


/* Contact Page Extra */
.contactPage{
    display: flex;
}

.contactForm{
    margin: auto;
}
.contactForm h3{
    text-align: center;
}
.contactForm p{
    padding: 20px;
    margin: auto;
}
.input-field, form {
    margin: 25px 0;
    position: relative;
    height: 50px;
    width: 20%;
}
.input-field input{
    height: 8vh;
    width: 50vw;
    border: 1px solid silver;
    padding-left: 15px;
    outline: none;
    font-size: 19px;
    transition: 0.4s;
}
input:focus{
    border: 1px solid #1da1f2;
}
.input-field label{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}
.input-field label{
    left: 15px;
    pointer-events: none;
    color: grey;
    font-size: 18px;
    transition: 0.4s;
}

input:focus ~ label,
input:valid ~ label{
    transform: translateY(-33px);
    background: white;
    font-size: 16px;
    color: #1da1f2;
}

form button{
    margin: 20px 0 0 580px;
    padding: 20px 30px 20px 30px;
    font-size: 20px;
    cursor: pointer;
    background-color: rgb(41, 40, 40);
    color: white;

}
.contactForm{
    margin: 35px 0 20px 0;
    font-size: 19px;
    color: grey;
    display: grid;

}

/* End of Contact Page */


